body, html {
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

input, label {
  font-size: 1em;
  margin: 5px 0;
  padding-left: 5px;
}

input + span {
  color: red;
}

.main {
  font-size: 1.1em;
  margin: 50px auto;
  width: 370px;
}

#calculate {
  margin-left: 63px;
  width: 70px;
}

#width-validate,
#height-validate {
  color: red;
  font-size: 0.8em;
  margin-left: 63px;
}
